* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f6f7f8;
  
}

/* APP LAYOUT */
.app {
  display: flex;
  position: relative;
}

/* SIDEBAR */
.sidebar {
  position: sticky;
  width: 20%;
  height: 100vh;
  background: #fff;
  padding: 20px;
  top: 0;
  border-right: 1px solid #ededed;
  overflow-y: auto;
}
/* PROFILE */
.profile {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* MENU */
.menu {
  border-bottom: 1px solid #eef1f4;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: #4a6076;
  display: flex;
  gap: 15px;
  padding: 12px;
  margin: 6px 0;
  border-radius: 6px;
}

.menu a:hover,
.menu a.active {
  background: #e7f2fd;
  color: #1081ec;
}

/* PROJECTS */

/* Project select */
.projects h4 {
  color: #a6b3c4;
}

.projects p {
  margin: 10px 5px;
  color: #4a6076;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  gap: 18px;
  
}

/* PROJECT DOTS */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.work {
  background: #10b981;
}

.dot.personal {
  background: #a855f7;
}

.dot.shopping {
  background: #f97316;
}

.dot.wishlist {
  background: #ec4899;
}

/* NEW LIST BUTTON */
.new-list {
  width: calc(100% - 50px);
  background-color: #137fec;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}


/* MAIN CONTENT */
 .main {
  flex: 1;
  width: calc(100% - 260px);
}

/* TOP BAR */
.top-bar {
    background-color: white;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(237, 237, 237);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* SEARCH */
.search {
  background: #f1f5f9;
  padding: 14px 18px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237);
  gap: 10px;
  width: 100%;
}


.search input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: #9caabe;
}

/* ICONS */
.icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  padding: 0 15px;
  ;
}

.content{
  padding: 30px;
}

/* WELCOME */
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:20px 0px ;
}
.task-count {
  color: #137fec;   /* blue */
  font-weight: 600;
}

.contentbox{
  padding: 30px;
}
.bar{
  display: flex;
  gap: 8px;
}

.progress-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress-box p{
 
  /* padding-left: 80px; */
  text-align: right;
  color: #4a6076;
  font-weight: lighter;
}

.progress-row {
  display: flex;
  align-items: center;
  gap: 8px;
 
}

/* BAR */
.progress-bar {
  width: 200px;
  height: 8px;
  background: #e2e8f0;
  border-radius: 10px;
  overflow: hidden;
 
}

/* FILL */
.progress-fill {
  width: 0%;
  height: 100%;
  background: #137fec;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

/* 65% TEXT */
.progress-text {
  font-size: 11px;
  color: #fff;
  font-weight: 600;
}

/* BUTTON */
.add-task {
  background: #0f172a;
  color: #fff;
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-task {
  background: #0f172a;
  color: #fff;
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* TODAY FOCUS */
/* CARD */
.card {
  padding: 15 px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.up-card {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 24px;
}
/* CARD HEADER*/
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* TITLE */
.focus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.focus i {
  color: #f59e0b; /* sun icon color */
}

/* DATE */
#date {
  font-size: 14px;
  color: #94a3b8;
}

/* LIST BOX */
.listbox {
  background-color: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 1px 1px 3px #dfe6ef;
  border-radius: 10px;
  padding: 10px 20px;
}
/* ROW LAYOUT */
.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

/* LEFT SIDE */
.task-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.task-title {
  font-weight: 600;
  font-size: 14px;
}

/* ACTION ICONS */
.change {
  display: flex;
  gap: 10px;
  position: relative;
}
.update-status {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    min-width: 85px;
    text-align: center;
}

.update-status.complete {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #10b981;
}

.update-status.progress {
    background-color: #fef3c7;
    color: #92400e;
    border: 1px solid #f59e0b;
}

.update-status.pending {
    background-color: #fee;
    color: #b91c1c;
    border: 1px solid #ef4444;
}
.change div{
   height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 3px;
    position: relative;
}

/* ICONS */
.change .edit,
.change .update,
.change .delete {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.change .edit:hover,
.change .update:hover,
.change .delete:hover {
  transform: scale(1.1);
}


/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  list-style: none;
  padding: 6px 0;
  margin: 0;
  width: 180px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  display: none;
  z-index: 100;
}

/* SHOW DROPDOWN */
.dropdown.show {
  display: block;
}

/* DROPDOWN ITEMS */
.dropdown li {
  padding: 10px 14px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background: #f8fafc;
}

/* COLORS */
.dropdown li:nth-child(1) { color: #16a34a; }
.dropdown li:nth-child(2) { color: #2563eb; }
.dropdown li:nth-child(3) { color: #ca8a04; }


.empty-state {
  padding: 20px;
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
}
/* TASK ROW */
.task {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 14px 0;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}
.empty-state {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
}
.task:last-child {
  border-bottom: none;
}

/* TASK HOVER */
.task:hover {
  background: #f8fafc;
}

/* CHECKBOX */
.task input {
  width: 17px;
  height: 17px;
  margin-top: 3px;
  accent-color: #137fec;
}

/* TASK TEXT */
.task p {
  font-size: 15px;
  font-weight: 500;
  color: #0f172a;
}

/* META */
.task-meta {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 4px;
}

/* TIME */
.time {
  font-size: 13px;
  color: #64748b;
  display: flex;
  align-items: center;
  gap: 6px;
}
.time-work {
   color: #dc2626;
}

/* LABEL BASE */
.label {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: 600;
}

/* WORK */
.label.work {
  background: #dcfce7;
  color: #166534;
}

/* PERSONAL */
.label.personal {
  background: #ede9fe;
  color: #5b21b6;
}
.label.shopping {
  background: #ede9fe;
  color: #0e7490;
}

.label.wishlist {
  background: #ede9fe;
  color: #92400e;
}



/* TAG STYLE */
.tag {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d1fae5;
  color: #00663e;
}

/* UPCOMING */
/* UPCOMING SECTION */
.upcoming {
  margin-top: 30px;

}

.uphead {
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.uphead i {
  color: #6366f1;
}

.up-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */
.up-card {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 18px;
}

/* CARD TITLE */
.up-card h4 {
  font-size: 12px;
  color: #94a3b8;
  margin-bottom: 14px;
  letter-spacing: 0.5px;
}

/* ITEM */
.up-item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

/* ICON */
.up-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.up-icon i {
  font-size: 16px;
  color: inherit;
}


/* ICON COLORS */
.up-icon.orange {
  background: #ffedd5;
  color: #f97316;
}

.up-icon.green {
  background: #dcfce7;
  color: #16a34a;
}

.up-icon.blue {
  background: #dbeafe;
  color: #2563eb;
}

.up-icon.pink {
  background: #fce7f3;
  color: #db2777;
}

/* TEXT */
.up-text .title {
  font-size: 14px;
  font-weight: 600;
  color: #0f172a;
}

.up-text .sub {
  font-size: 13px;
  color: #64748b;
}
.up-text{
  flex: 1;
}
.up-item .change {
  display: flex;
  align-items: center;
}

.up-item .delete {
  margin-left: auto;
}





/* menubar icon */
.menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: #0f172a;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 900;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* MODAL OVERLAY */
.task-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  margin: auto;
  align-items: flex-start;
  justify-content: center;
  z-index:3000;
  overflow-y: scroll;

  
}

/* SHOW MODAL */
.task-modal.active {
  display: flex;
}

/* MODAL BOX */
.task-modal-content {
  width:90%;
  max-height: calc(100vh-100px);
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  background: white;
  border-radius: 14px;
  padding: 35px 40px 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  overflow-y: scroll;
    margin: 20px 0;
}

/* CLOSE ICON */
.close-modal {
  cursor: pointer;
  font-size: 18px;
}

/* Toast Styles */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #0074eb;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.5s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast i {
    font-size: 18px;
}


/*responsive*/
/* large screen (≥1440px) */
@media (min-width: 1440px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}


/* laptop  */
@media (max-width: 1024px) {

  .sidebar {
    width: 220px;
    z-index: 999;
  }
  .aside {
    width: 220px;
  }

  .main {
    width: 100%;
  }

  .welcome {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .progress-bar {
    width: 180px;
  }
}


/* TABLET (≤768px) */
@media (max-width: 768px) {

  /* show hamburger */
  .menu-toggle {
    display: block;
  }

  /* sidebar slide */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  /* overlay */
  /* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; 
}


  /* main full width */
  .main {
    width: 80%;
  }

  .welcome {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .progress-row {
    flex-wrap: wrap;
    gap: 12px;
  }

  .progress-bar {
    width: 100%;
  }

  .up-cards {
    grid-template-columns: 1fr;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .top-bar {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .search {
    width: 100%;
    flex: 1;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    flex-shrink: 0;
  }

  .content {
    padding: 16px;
  }


  .bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }

  /* add task button */
  .add-task {
    padding: 8px 14px;
    font-size: 13px;
    white-space: nowrap;
  }

  /*progress row -- */
  .progress-row {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .progress-bar {
    width: 100%;
  }

  /* -- TASK ACTION ICONS -- */
  .change {
    display: flex;
    gap: 8px;
  }

  body {
    overflow-x: hidden;
  }
   /* TASK ROW FIX */
   .task-row {
    display: flex;
    flex-wrap: wrap;        
    align-items: flex-start;
  }

  /* LEFT CONTENT CAN SHRINK */
  .task-left {
    flex: 1 1 100%;
    min-width: 0;
  }
  .update-status,
  .change {
    margin-top: 6px;
  }

  /* ICON BUTTONS */
  .change .edit,
  .change .update,
  .change .delete {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
   .update-status {
    order: 2;            
    font-size: 12px;
    padding: 6px 12px;
    white-space: nowrap;
  }

  /* Action icons */
  .change {
    order: 3;               
    margin-left: auto;        
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .change .edit,
  .change .update,
  .change .delete {
    width: 28px;
    height: 28px;
  }
}





